
@{
    ViewBag.Title = "Welcome Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .welcome-container {
            text-align: center;
            color: black;
            color: #ffffff;
            padding: 50px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
            color: black;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
            color: black;
        }
    </style>
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome, Admin!</h1>
        <p>You have successfully signed in to the admin panel.</p>
    </div>
</body>

