@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <br />
</main>
<h4>
    TrendyTrades, the ultimate destination for fashion enthusiasts and savvy shoppers, is your premier online e-commerce platform.
    At TrendyTrades, we curate the latest trends in clothing, accessories, and more, offering a diverse and stylish collection that caters to all tastes.
    Our user-friendly website makes shopping a breeze, with intuitive navigation and secure payment options.
    Whether you're searching for the perfect outfit to make a statement or seeking everyday essentials, TrendyTrades provides a seamless shopping experience.
    Stay ahead of the fashion curve and discover the best deals and exclusive offers with TrendyTrades,
    where fashion meets convenience, all at your fingertips.
</h4>