@{
    ViewBag.Title = "Home Page";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #4F4557;
    }

    .slider-container {
        width: 100%;
        height: 60%;
        overflow: hidden;
        margin: 0 auto; /* Center the container horizontally */
    }

    .slider {
        width: 100%;
        height: 100%;
        position: relative; /* Position the slider container for relative positioning of buttons */
    }
    .slider img {
        width: 100%;
        height: auto;
        display: none;
        aspect-ratio: 16/9;
    }

    .slider img:first-child {
        display: block;
    }

    .slider-nav {
        background: #333;
        color: #fff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        position: absolute; /* Position the buttons absolutely within the slider */
        top: 50%; /* Position the buttons vertically in the middle of the slider */
        transform: translateY(-50%); /* Adjust for vertical alignment */
    }

    .slider-nav.prev {
        left: 0; /* Position the "Previous" button on the left side */
    }

    .slider-nav.next {
        right: 0; /* Position the "Next" button on the right side */
    }

    .Category-container
    {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        justify-content: center;
        gap: 30px;
    }
</style>

<div class="slider-container">
    <div class="slider">
        <button class="slider-nav prev"><</button>
        @foreach (var item in Model)
        {
            if (item.ImageData != null && item.ImageData.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" alt="Image" height="100px" ,width="100px" />
            }
            else
            {
                <p>No image available</p>
            }
         }
        <button class="slider-nav next">></button>
    </div>
</div>
<br>
<br>
<div class="Category-container">
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/6347888/pexels-photo-6347888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/6347888/pexels-photo-6347888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/6347888/pexels-photo-6347888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/6347888/pexels-photo-6347888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<script src="~/Scripts/HomeJavaScript.js"></script>