@{
    ViewBag.Title = "Home Page";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #4F4557;
    }

    .slider-container {
        width: 100%;
        height: 60%;
        overflow: hidden;
        margin: 0 auto; /* Center the container horizontally */
    }

    .slider {
        width: 100%;
        height: 100%;
        position: relative; /* Position the slider container for relative positioning of buttons */
    }

        .slider img {
            width: 100%;
            height: auto;
            display: none;
            aspect-ratio: 16/9;
        }

            .slider img:first-child {
                display: block;
            }

    .slider-nav {
        background: #333;
        color: #fff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        position: absolute; /* Position the buttons absolutely within the slider */
        top: 50%; /* Position the buttons vertically in the middle of the slider */
        transform: translateY(-50%); /* Adjust for vertical alignment */
    }

        .slider-nav.prev {
            left: 0; /* Position the "Previous" button on the left side */
        }

        .slider-nav.next {
            right: 0; /* Position the "Next" button on the right side */
        }

    .Category-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        gap: 30px;
    }

    .card {
        width: 18rem;
        padding: 10px;
        transition: transform 0.2s;
        background-color: #E8F0FE; /* Change to your desired background color */
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-text {
        display: none;
        font-weight: bold;
        font-size: 18px;
    }
    .card-img-top {
        background-color: #F4EEE0;
        border:solid 1px;
    }
    .card:hover .card-text {
        display: block;
    }
</style>

<div class="slider-container">
    <div class="slider">
        <button class="slider-nav prev"><</button>
        @foreach (var item in Model)
        {
            if (item.ImageData != null && item.ImageData.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" alt="Image" height="100px" ,width="100px" />
            }
            else
            {
                <p>No image available</p>
            }
        }
        <button class="slider-nav next">></button>
    </div>
</div>
<br>
<br>
<div class="Category-container">
    <div class="card">
        <img src="~/Images/user.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">User Details</p>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/product.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Search Products</p>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/shopping-cart.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Cart</p>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/seller.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Become Seller</p>
        </div>
    </div>
</div>

<script src="~/Scripts/HomeJavaScript.js"></script>